@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar las flechas en los inputs de tipo number  */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  @apply appearance-none;
}

input[type='number'] {
  @apply appearance-none; /* Para Firefox*/
}
input[type='file'] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
